<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>water-tools</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../css/kickstart.min.css" rel="stylesheet">
  <link href="../css/extras.css" rel="stylesheet">
  <link href="../img/favicon.png" rel="shortcut icon">
  <script src="../js/kickstart.min.js"></script>
  <script src="../js/calculators.js"></script>
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$']], displayMath: [['$$','$$']], processEscapes: true } });
  </script>

  <div data-ks-navbar class="navbar">
    <nav>
      <ul>
        <li class="navbar-title">
          <a href="../index.html">
          <h1>water-tools</h1>
        </a>
          <button role="button">=</button>
        </li>
        <li class="active">Waves
          <ul>
            <li><a href="hunt.html">Gravity wave dispersion (Hunt, 1979)</a></li>
            <li><a href="goda.html">Breaker index (Goda, 2010)</a></li>
          </ul>
        </li>
        <li class="active">Armour
          <ul>
            <li><a href="hudson.html">Breakwater armour sizing (Hudson, 1959)</a></li>
            <li><a href="sharp-khader.html">Armour mass in fresh water (Sharp & Khader, 1984)</a></li>
          </ul>
        </li>
        <li class="active">Scaling
          <ul>
            <li><a href="froude.html">Froude similarity</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</head>

<body>
  <div id="hudson">
    <!--

  ██   ██ ██    ██ ██████  ███████  ██████  ███    ██
  ██   ██ ██    ██ ██   ██ ██      ██    ██ ████   ██
  ███████ ██    ██ ██   ██ ███████ ██    ██ ██ ██  ██
  ██   ██ ██    ██ ██   ██      ██ ██    ██ ██  ██ ██
  ██   ██  ██████  ██████  ███████  ██████  ██   ████

  -->
    <h3>Hudson equation</h3>

    <p>$M =\frac{\rho_a {H_{10\%}}^3}{k_D \Delta^3\cot\theta}$
    </p>

    <p>$\Delta = \frac{\rho_a}{\rho_w} - 1$
    </p>

    <form name="Hudson">
      <table>
        <tr>
          <td>
            <p>$M$</p>
          </td>
          <td>
            <p>Armour mass:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="M" value="1000" tabindex="1" onkeyup="hudsonCalculateHeight(this.form)"> </td>
          <td>
            <p>(kg)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>$H_{10\%}$</p>
          </td>
          <td>
            <p>Wave height:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="H" value="2" tabindex="2" onkeyup="hudsonCalculateMass(this.form)"> </td>
          <td>
            <p>(m)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>$\rho_a$</p>
          </td>
          <td>
            <p>Armour density:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="rho_a" value="2650" tabindex="3" onkeyup="hudsonCalculateMass(this.form)"> </td>
          <td>
            <p>(kg/m<sup>3</sup>)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>$\rho_w$</p>
          </td>
          <td>
            <p>Water density:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="rho_w" value="1025" tabindex="4" onkeyup="hudsonCalculateMass(this.form)"> </td>
          <td>
            <p>(kg/m<sup>3</sup>)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>$k_D$</p>
          </td>
          <td>
            <p>Stability coefficient:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="k_d" value="2" tabindex="5" onkeyup="hudsonCalculateMass(this.form)"> </td>
          <td>
            <p>(-)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>$\cot \theta$ &nbsp </p>
          </td>
          <td>
            <p>Slope:</p>
          </td>
          <td>
            <input class="form-control" type="text" name="slope" value="1.5" tabindex="6" onkeyup="hudsonCalculateMass(this.form)"> </td>
          <td>
            <p>(H/V)</p>
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>
